{% extends 'base.html.twig' %}

{% block title %}TRT-Conseil
{% endblock %}

{% block body %}


	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur
				<strong>TRT Conseil</strong>
			</h1>
			<p class="lead">TRT Conseil est une agence de
				<strong>recrutement
				</strong>
				spécialisée dans
				<strong>l’hôtellerie et la restauration</strong>
				. Fondée en	2014, la société s’est agrandie au fil des ans et possède dorénavant plus de 12 centres dispersés aux quatre coins de la France.</p>

			<hr class="my-4">
			<img id="computer" src="{{ asset('assets/images/logotrt.png')}}" alt="logo" style="max-width: 35rem;" class="mx-auto d-block">
			<hr class="my-4">


			<h2>Découvrez avec nous votre futur job!</h2>
			<a class="btn btn-primary btn-lg" href="{{ path ('app_register_candidate')}}" role="button">S'inscrire</a>

			<hr class="my-4">

			<h2>Vous voulez recruter!</h2>
			<a class="btn btn-primary btn-lg" href="{{ path ('app_register_recruiter')}}" role="button">S'inscrire</a>

		</div>
	</div>
{% endblock %}
