{% extends 'base.html.twig' %}

{% block title %}TRT-Conseil
{% endblock %}

{% block body %}


	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur TRT Conseil</h1>
			<p class="lead">TRT Conseil est une agence de recrutement spécialisée dans l’hôtellerie et la restauration. Fondée en
																																					2014, la société s’est agrandie au fil des ans et possède dorénavant plus de 12 centres dispersés aux
																																					quatre coins de la France.</p>

			<hr class="my-4">
			<img id="computer" src="{{ asset('assets/images/logotrt.png')}}" alt="logo" style="max-width: 35rem;" class="mx-auto d-block">
			<hr class="my-4">


			<h2>Découvrez avec nous votre futur job!</h2>
			<a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
		</div>
	</div>


{% endblock %}
