{% extends 'base.html.twig' %}

{% block title %}
	ReadMe
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1 class="text-center">MODE D'EMPLOI DU SITE</h1>

		<h2>Lien du trello: https://trello.com/b/Il7P7clf/trt</h2>
		<h2>Vidéos Youtube: https://www.youtube.com/playlist?list=PLQtcbnWnIXZuBkXRyDiwPmbMneiNhA-UV

		</h2>

		<h3>Documentation technique</h3>

		<a type="button" class="btn btn-secondary btn-lg m-4" href="{{ asset('assets/images/documentation_technique.pdf')}}">Voir la documentation</a>


		<h3>Manuel d'utilisation</h3>
		<a type="button" class="btn btn-secondary btn-lg m-4" href="{{ asset('assets/images/manuel_utilisation.pdf')}}">Voir le manuel</a>

		<h3>Code: azerty pour tous les utilisateurs</h3>
		<p>validé :  recruteur@gmail.com</p>

	</p>
	<p>non validé:  testrecrut@gmail.com</p>

</p>
<p>consultantok@gmail.com</p>

<p>candidat@test1.com</p>

<p>admin@trt.fr</p></div>{% endblock %}
