{% extends 'base.html.twig' %}

{% block title %}Etat civil
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Modifier son état civil</h1>

		{{ include('pages/user/_form.html.twig', {'button_label': 'Modifier'}) }}

		<div class="mt-4 container">
			<a href="{{ path('home.index') }}">accueil</a>
		</div>


		{{ include('pages/user/_delete_form.html.twig') }}</div>

{% endblock %}
